h1{
    text-align: center;
    font-size: 200%;
    font-family: 'Gotu', sans-serif;
    font-family: 'Comic Neue', cursive; 
    font-weight: bolder;
    float: inherit;
    margin-top: 10px;
    width: 400px;
    box-shadow: 4px 4px 5px #888888;
    align-items: center;
    
}

h1:hover{
    transform:scale(1.1); 
}

.container{
    display: flex;
    flex-wrap: wrap;
}
img{
    width:450px;
    height:300px;
    padding: 5px;
    transition: all 1s;
}

img:hover{
    transform:scale(1.1); 
    
}
           
            